
@font-face {
    font-family: SanFrancisco; 
    src: url('../SanFranciscoFont-master/SanFranciscoText-Regular.otf');
 } 

.large_icon{
    font-size:5vw;
 }

nav{
    display: table;
    text-align: center;
    width: 100%
   
   }
   nav ul{
    display: table-row;
   }
   
   nav ul li {
    display: table-cell;
   }

.border-top { 
    border-top: 20px 
}

.button-container {
    height: 100px;
    position: relative;
  }
  
  .button-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.home {
    height: 100%;
}
.header {
    text-align: center;
}

.itemRecipes {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 70%;
  height: auto;
}
/* .card {
  display: inline-flex;
  border: 1px solid black;
  height: 125px;
  width: 125px; 
  margin: 1px;
  white-space: pre-line;
  text-align: center;
  justify-content: center;
 } */
 
.itemInventory {
    font-size: 16px; /*reset font size*/
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    width: 50%;
    height: auto;
    position: relative;
    overflow: auto; /*for scrollbar*/
    background-color: #faf9f9;
}
