
@font-face {
    font-family: SanFrancisco; 
    src: url('../SanFranciscoFont-master/SanFranciscoDisplay-Regular.otf');
 } 

nav{
    display: table;
    text-align: center;
    width: 100%
   
   }
   nav ul{
    display: table-row;
   }
   
   nav ul li {
    display: table-cell;
   }

.border-top { 
    border-top: 20px 
}

.button-container {
    height: 100px;
    position: relative;
  }
  
  .button-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }